@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* shared style */
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  margin: 2rem 0;
  font-size: 1.25rem;
}
button,
a {
  cursor: pointer;
}
body,
html {
  padding: 0;
  margin: 0;
}
* {
  /* padding: 0; */
  /* margin: 0; */
  /* box-sizing: border-box; */
  font-family: "Work Sans", sans-serif;
}
.banner img,
.teams-img-container img {
  width: 100%;
  border-radius: 0.5rem;
}
/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 0 100px 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
}
.banner img {
  margin-top: 1.25rem;
}
/* main style */
main {
  padding: 70px 100px;
}
/* teams style*/
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-container div {
  width: 50%;
}
.teams-content-title {
  font-size: 3rem;
}
.teams-content .s1 {
  color: #727272;
  font-weight: 500;
}
.teams-content .s2 {
  color: #131313;
  font-weight: 700;
}
.teams-content .s3 {
  color: #ff900e;
  font-weight: 700;
}
/* facts section */
.facts {
  margin-top: 6rem;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
  gap: 10px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 2.5rem;
  text-align: center;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
}
.card * {
  margin: 0.5rem 0;
}
.facts-card-container .card-title {
  color: #727272;
  font-size: 1.25rem;
}
/* sponsors style */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(5, 1fr);
  filter: saturate(0);
  gap: 2rem 4rem;
}
.sponsors-img-container img {
  width: 100%;
}
/* features style */
.features {
  display: flex;
  margin-top: 6rem;
  gap: 5rem;
  align-items: end;
}
.features > div {
  width: 50%;
}
.features img {
  width: 100%;
}
.features .card {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 1.125rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features .card-title {
  color: #131313;
  font-weight: 600;
  font-size: 1.25rem;
}
.feature-content > .description {
  margin-bottom: 2rem;
}
.feature-content > .section-title {
  width: 80%;
  border-left: 0.32rem solid #ff900e;
  padding-left: 1.25rem;
}
.feature-img {
  position: relative;
}
.ten-years-badge {
  width: max-content;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  background: #ff900e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  transform: translate(-20%, 30%);
}
.ten-years-badge * {
  margin: 0;
  color: white;
}
footer{
  background: #FFF4E7;
  padding: 2rem 0;
  text-align: center;
  margin-top: 3rem;
}
/* responsive style */
/* for mobile */
@media screen and (max-width: 576px) {
  header,
  main {
    padding: 20px;
  }
  header {
    padding-top: 0;
  }
  nav,
  nav > ul,
  .teams-container,
  .features {
    flex-direction: column;
  }
  .sponsors-img-container {
    grid-template-columns: 1fr 1fr;
  }
  .teams-container div,
  .features > div {
    width: 100%;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .banner-title {
    font-size: 3rem;
  }
  .nav-title {
    font-size: 2rem;
  }
  .btn-primary {
    padding: 0.8rem 1rem;
    margin: 1.5rem 0;
    font-size: 0.8rem;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
  }
  .facts {
    margin-top: 2rem;
  }
  .ten-years-badge {
    left: 50%;
    bottom: 10px;
    transform: translate(-50%) skew(-10deg);
    margin: 0 auto;
  }
  .features {
    margin-top: 0;
  }
}
/* for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header,
  main {
    padding: 50px;
  }
  header {
    padding-top: 0;
  }
  nav,
  .teams-container,
  .features {
    flex-direction: column;
  }
  .teams-container div,
  .features > div {
    width: 100%;
  }
  .facts-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 3rem;
  }
  .facts {
    margin-top: 2rem;
  }
  .sponsors-img-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ten-years-badge {
    left: 50%;
    bottom: 10px;
    transform: translate(-50%) skew(-10deg);
    margin: 0 auto;
  }
  .features {
    margin-top: 0;
  }
}
